<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Aparecida Nutrição</title>
		<link rel="icon" href="/image/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>

		<header>
			<div class="container">
				<h1>Aparecida Nutrição</h1>
			</div>
		</header>
		<main>
			<section class="container">
				<h2>Meus pacientes</h2>
				<div id="filtro">
					<label for="filtrar-tabela">Filtrar:</label>
					<input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite o nome do paciente">
				</div>	
					<table>
						<thead>
							<tr>
								<th>Nome</th>
								<th>Peso(kg)</th>
								<th>Altura(m)</th>
								<th>Gordura Corporal(%)</th>
								<th>IMC</th>
								<th>Remover</th>
								<th>Editar</th>
							</tr>
						</thead>
						<tbody id="tabela-pacientes">
							<%if(patients.length > 0){%>
								<%for(i=0; i<patients.length; i++) {%>
									<tr class="paciente">
										<td class="info-nome"><%=patients[i].nome %></td>
										<td class="info-peso"><%=patients[i].peso %></td>
										<td class="info-altura"><%=patients[i].altura %></td>
										<td class="info-gordura"><%=patients[i].gordura %></td>
										<td class="info-imc">0</td>
										<td class="info-delete">
											<a href="/delete/<%=patients[i].idTimeStamp%>">X</a>
										</td>
										<td class="info-editar">
											<a href="/edit/<%=patients[i].idTimeStamp%>">E</a>
										</td>
									</tr>
								<%}%>
							<%}%>
						</tbody>
					</table>
				<%if(patients.length == 0){%>	
					<h2 class="aviso">Não há pacientes cadastrados!</h2>
				<%}%>

				<span id="erro-ajax" class="invisivel">Erro ao buscar os pacientes</span>
				<!-- <button id="buscar-pacientes" class="botao bto-principal">Buscar Paciente API</button> -->

			</section>

		</main>

<br>
<hr>
<br>
		<section class="container">
	    <h2 id="titulo-form">Adicionar novo paciente</h2>
		<ul id="mensagem-de-erro"></ul>

		<% include form-insert %>

	</section>

		<script src="js/script.js"></script>
	</body>
</html>
